body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #2c2f48;
  color: #000;
}

.sign-up-form {
  display: flex;
  max-width: 800px;
  margin: 50px auto;
  background: #fff;
  border-radius: 20px;
  overflow: hidden;
}

.left-section,
.right-section {
  padding: 30px;
  flex: 1;
}

.right-section img.mobile-img {
  display: none;
  width: 100%;
}

.right-section img.desktop-img {
  width: 100%;
}

form input[type="email"] {
  width: 100%;
  padding: 12px;
  margin-top: 5px;
  margin-bottom: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.sub-btn {
  padding: 12px;
  width: 100%;
  background-color: #2c2f48;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.sub-btn:hover {
  opacity: 0.9;
}

.input-label-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6px;
}

.error-message {
  color: rgb(255, 99, 71);
  font-size: 13px;
  margin-left: auto;
}

.invalid-input {
  border: 1px solid rgb(255, 99, 71) !important;
  background-color: rgba(255, 99, 71, 0.6) !important;
  color: rgb(255, 99, 71) !important;
}

.footer {
  text-align: center;
  font-size: 12px;
  color: #fff;
  margin: 10px 0;
}

.footer .tag {
  background-color: #ff6a5e;
  padding: 2px 8px;
  border-radius: 12px;
  font-weight: bold;
  color: white;
  margin: 0 4px;
  display: inline-block;
  text-decoration: none;
}

.success-box {
  background-color: white;
  max-width: 280px;
  margin: 80px auto 10px auto;
  padding: 30px;
  border-radius: 20px;
  text-align: left;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.top-success-icon {
  width: 40px;
  height: 40px;
  margin-bottom: 20px;
}

.success-box h1 {
  margin: 0 0 15px 0;
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 50px;
  color: #000;
}

.success-box p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
  color: #333;
}

.success-text {
  font-weight: bold;
}

.dismiss-btn {
  padding: 12px;
  width: 100%;
  background-color: #2c2f48;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

@media (max-width: 480px) {
  .success-box {
    margin: 50px 20px 10px 20px;
    padding: 25px;
  }

  .success-box h1 {
    font-size: 24px;
  }
}

.custom-list {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

.custom-list li {
  display: flex;
  align-items: start;
  gap: 10px;
  margin-bottom: 12px;
  font-size: 16px;
  color: #333;
}

.custom-list li img {
  width: 18px;
  height: 18px;
  margin-top: 3px;
}